.idea
*.iml
.classpath
obj
libs
gen
.settings
bin
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
linux/heriswap
heriswap_tests
scores.txt
tilematch.pidb
tilematch.userprefs
HeriswapSecret.java
*.jar
*.o
