<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.damsy.soupeaucaillou.tilematch"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <uses-sdk android:minSdkVersion="8" />
    
    <!-- This .apk has no Java code itself, so set hasCode to false. -->
    <application android:label="Tilematch!" android:debuggable="true">
    
        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="net.damsy.soupeaucaillou.tilematch.TilematchActivity"
                android:label="Tilematch!" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
