<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.damsy.soupeaucaillou.tilematch"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <uses-sdk android:minSdkVersion="4" />
    
    <!-- This .apk has no Java code itself, so set hasCode to false. -->
    <application android:label="Heriswap" android:debuggable="true" android:icon="@drawable/ic_launcher">
    
        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="net.damsy.soupeaucaillou.tilematch.TilematchActivity"
                android:label="Heriswap" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.openfeint.internal.ui.IntroFlow"
                  android:label="IntroFlow"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@style/OFNestedWindow" />
        <activity android:name="com.openfeint.api.ui.Dashboard"
                  android:label="Dashboard"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@style/OFNestedWindow"/>
        <activity android:name="com.openfeint.internal.ui.Settings"
                  android:label="Settings"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@style/OFNestedWindow"/>
        <activity android:name="com.openfeint.internal.ui.NativeBrowser"
                  android:label="NativeBrowser"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@style/OFNestedWindow"/>
                  
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
</manifest>
